.landing-page-content-main {

    @media only screen and (min-width: 320px) and (max-width: 1357px) {
     
        width: fit-content;
      }
    }
    .login-arrow-div {
        display: flex;
        align-items: center;
        position: relative;
        left: 30%;
        @media (max-width: 800px) {
          left: 20%;
        }
        @media (max-width: 550px) {
          left: 10%;
        }
        @media (max-width: 400px) {
          left: -4px;
        }
      }
    .login-pTag {
        font-weight: 500;
        font-size: 30px;
        color: #1c1364;
        margin:auto;
      
      }
      .login-group{
        margin-left: 7cm;
      }
      .login-arrow-div:hover {
        cursor: pointer;
      }
      .login-arrow {
        width: 40px;
      
      }
      .content-link {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 3cm;
      }
      /* .login-icon {
        transform: rotateZ(180deg);
      } */
    .content-link {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 370px;
        /* margin-right: 3cm; */
      }
      .links {
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        /* margin-right: 1000px; */
        color: #1b1363;
    
      }  
      .links:hover {
        cursor: pointer;
      }
    .Img-shape{
        position: relative;  
        display: flex;
        justify-content: center;
        margin: auto;
        position: relative;
    }
    .aviarlogoImg{
        width:30%;
    }
    .curveImg{
        margin:space-between ;
        /* margin-bottom: 7cm; */
        
    }
    .student-group{
        /* margin-bottom: 2cm; */
    }
    .studentsImg{
        width: 100%;   
        height:15cm;
      
    }
    .card-main{
        display: flex;
        justify-content: space-between;
        width:50%;
    }
    /* .card-align {
        height: 40vh;
        margin-left:100px;
        opacity: 0.8;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        top: -640px;
        
      } */
      .card-header-pTag {
        font-family: Roboto-Bold;
        font-size: 30px;
        font-weight: 800;
        color: black;
        padding: 20px 20px 0px 20px;
        /* width:50%; */
      }
      .card-header {
        background: none;
        color: black;
        /* width:50%; */
      }
      .card-body-pTag {
        font-family: inherit;
        font-style: normal;
        font-weight: inherit;
        font-size: 20px;
        text-align: justify;
        padding: 0px 20px 20px 20px;
        color: black;
        /* width:50%; */
      }
    
      .Layer2{
        width: 50px;
        height: 50px;
        margin: auto;
        position: relative;
        display: flex; 
        justify-content: space-between;
        /* top:-200px; */
       
      }
      .extra-content-list {
        display: flex;
        align-items: center;
        position: relative;
       
        
      
        /* bottom: 2cm ;  */
      }
      .extra-content-div {
        border: 1px solid black ;
        width: 100%;
       
      }
      .extra-content {
        width: 50px;
        height: 50px;
        position: relative;
        
       
      }
    
      .back-image-main {
        position: relative;
        display: flex;
        width: 100%;
        height: 400px;
        
      }
      .back-image-align {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .back-image-center-main {
      
        top: -500px;
        position: relative;
        right: 300px;
        width: 450px;
        /* margin: auto; */
        margin-left: 1350px;
        @media only screen and (min-width: 320px) and (max-width: 1024px) {
          width: 350px; 
        }
      }
      .back-image{
        top: -750px;
        position: relative;
        /* right: 20px; */
        left: 20px;
        width: 450px; 
        margin-right:2cm;
        @media only screen and (min-width: 320px) and (max-width: 1024px) {
          width: 350px; 
        }
    
      }
      .back-image-one {
        display: flex;
        width: 100%;
        position: relative;
        height: 100%;
      }
   