.Login-container{
    width:fit-content;
    width:100%;
    margin: auto;
    }
    .Aviarlogo{
      display: flex;
      justify-content: center;
      margin: auto;
    }
     .curveImg{
      display: flex;
      margin:auto;
      justify-content: center;
     }
     .text-center{
      display: flex;
      justify-content: center;
      position: absolute;
     }
    .links {
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: #1B1363;
      }
     .links:hover {
        cursor: pointer;
      }
      .landing-page-footer-background{
        width: 100%;

        
      }
      /* .Content-link{
        position: absolute;
        display: flex;
        justify-content: center;
        width:100%;
        margin-bottom: 1000px;
      } */
      .signup{
        box-shadow: 20px;
        /* background-color:rgb(222, 225, 235); */
      }b