.Login-container {
  width: fit-content;
  width: 100%;
  margin: auto;
}

.Aviarlogo {
  display: flex;
  justify-content: center;
  margin: auto;
}

.curveImg {
  display: flex;
  margin: auto;
  justify-content: center;
}

@media (max-width:2560px) {
  Aviarlogo {
    width: 700px;
  }


}

.text-center {
  display: flex;
  justify-content: center;
  position: absolute;
}

.links {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #1B1363;
}

.links:hover {
  cursor: pointer;
}

.landing-page-footer-background {
  width: 100%;


}

/* .Content-link{
        position: absolute;
        display: flex;
        justify-content: center;
        width:100%;
        margin-bottom: 1000px;
      }
      .signup{
        box-shadow: 20px;
        /* background-color:rgb(222, 225, 235); */


.signup-option {
  transition: all 0.3s ease;
  border: 1px solid #e9ecef;
  background-color: #f8f9fa;
}

.signup-option:hover {
  background-color: #eef4ff;
  border-color: #cfe2ff;
  transform: translateY(-2px);
}

.icon-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.login-page {
  background-color: #f9fafc;
  min-height: 100vh;
}