/* .footerDiv{
    width: 100%;
    bottom: 10px; */
    /* border: 1px solid #000; */
    /* position: relative; */

/* } */

/* .mainView{
    width: 85%;
    margin-top: 5%; */
    /* height: 700px; */
    /* margin-left: 13%; */
    /* border: 1px solid black; */
    /* background: #000; */
/* } */